.gmap {
    width: 55rem;
    height: 35rem;
    border: 1px solid $color-primary-light;
    padding: 5px;
    border-radius: 2rem;
    margin: .5rem auto;
    overflow: hidden;
    display: flex;
    vertical-align: flex-end;

    @include respond(tab-port) {
      width: 35rem;
      height: 25rem;
    }
  }
  